<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity android:name=".activities.aap.AAPDetailActivity" />
        <activity android:name=".activities.aap.AAPRecordsActivity" />
        <activity android:name=".activities.users.RegisterActivity" />
        <activity android:name=".activities.aap.AAPHomePageActivity" />
        <activity android:name=".activities.users.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.aap.AAPDiagnosisActivity" />
        <activity android:name=".activities.users.ForgottenPasswordActivity" />
        <activity android:name=".activities.users.PasswordCodeActivity" />
        <activity android:name=".activities.users.ResetPasswordActivity" />
        <activity android:name=".activities.aap.AAPGynRecordsActivity" />
        <activity android:name=".activities.aap.AAPGynDiagnosisActivity" />
        <activity android:name=".activities.aap.AAPGynDetailActivity" />
    </application>

</manifest>