<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.Records.PocDetailActivity"></activity>
        <activity android:name=".activities.successActivity" />
        <activity android:name=".activities.ProfileActivity" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".activities.DetailActivity" />
        <activity android:name=".activities.OCR.Unused.TessOCRActivity" />
        <activity android:name=".activities.recordsActivity" />
        <activity android:name=".activities.Records.POCRecordsActivity" />
        <activity
            android:name=".activities.OCR.Unused.OCR_Activity"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity android:name=".activities.OCR.FireBaseOCRActivity">
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="ocr" />
        </activity>
        <activity
            android:name=".activities.Main.POCSubmit"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".activities.LoadingActivity" />
        <activity android:name=".activities.ImageActivity" />
        <activity android:name=".activities.Main.RegisterActivity" />
        <activity android:name=".activities.main.domActivity" />
        <activity android:name=".activities.main.angusActivity" />
        <activity android:name="activities.main.milesActivity" />
        <activity android:name=".activities.Main.POCHomeActivity" />
        <activity
            android:name=".activities.DisplayMessageActivity"
            android:parentActivityName=".activities.Main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Main.MainActivity" />
        </activity>
        <activity android:name=".activities.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.goodresultActivity" />
        <activity android:name=".activities.resultbadActivity" />
        <activity android:name=".activities.aapdiagnosisActivity" />
        <activity android:name=".activities.question1Activity" />
        <activity android:name=".activities.ForgotPassword.PasswordCodeActivity" />
        <activity android:name=".activities.ForgotPassword.ForgottenPasswordActivity" />
        <activity android:name=".activities.ForgotPassword.ResetPasswordActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>